.btn-back-home {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    font-weight: bold;
    font-size: 24px;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease !important;
}

.btn-like-detail {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
}

.btn-wa {
    width: 40px;
    height: 40px;
    background: rgb(106, 5, 114);
    background: linear-gradient(0deg, rgba(106, 5, 114, 1) 0%, rgba(106, 5, 114, 1) 20%, rgba(136, 68, 141, 1) 50%, rgba(106, 5, 114, 1) 80%, rgba(106, 5, 114, 1) 100%);
    border-radius: 10px;
    border: none;
    color: #ffffff;
}

.btn-wa:hover {
    background-color: #9370DB;
    border: 1px solid rgba(128, 0, 128, 0.9);
}

.btn-lokasi {
    width: 40px;
    height: 40px;
    background: rgb(106, 5, 114);
    background: linear-gradient(0deg, rgba(106, 5, 114, 1) 0%, rgba(106, 5, 114, 1) 20%, rgba(136, 68, 141, 1) 50%, rgba(106, 5, 114, 1) 80%, rgba(106, 5, 114, 1) 100%);
    border-radius: 10px;
    border: none;
    color: #ffffff;
    margin-left: -10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-lokasi:hover {
    background-color: #9370DB;
    border: 1px solid rgba(128, 0, 128, 0.9);
}

.btn-pesan {
    width: 238px;
    height: 40px;
    background: rgb(106, 5, 114);
    background: linear-gradient(0deg, rgba(106, 5, 114, 1) 0%, rgba(106, 5, 114, 1) 20%, rgba(136, 68, 141, 1) 50%, rgba(106, 5, 114, 1) 80%, rgba(106, 5, 114, 1) 100%);
    border-radius: 10px;
    border: none;
    color: #ffffff;
    margin-left: -20px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-pesan:hover {
    background-color: #9370DB;
    border: 1px solid rgba(128, 0, 128, 0.9);
}

.fixed-top {
    background-color: transparent;
    /* Atau warna lain sesuai kebutuhan */
    transition: background-color 0.3s ease;
    /* Animasi perubahan warna latar belakang */
}

.fixed-top.scrolled {
    background-color: white;
    /* Warna putih sesuai kebutuhan */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Contoh penambahan shadow saat di-scroll */
}

.fixed-top.scrolled .btn-back-home i {
    color: #000000;
    /* Ganti dengan warna ikon yang diinginkan saat di-scroll */
}

.sticky-bottom {
    position: fixed !important;
    bottom: 0px !important;
    background-color: white;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.garis-pembatas-2 {
    border-top: 15px solid #ccc;
    margin-top: 20px;
    /* Sesuaikan sesuai kebutuhan */
    margin-bottom: 4.2rem;
    /* Sesuaikan sesuai kebutuhan */
}