.btn-back-home {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 20px;
    left: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.btn-like-detail {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 10px;
    font-weight: bold;
    font-size: 20px;
}

.btn-wa {
    width: 40px;
    height: 40px;
    background-color: rgba(128, 0, 128, 0.9);
    border-radius: 10px;
    border: none;
    color: #ffffff;
}

.btn-wa:hover {
    background-color: #9370DB;
    border: 1px solid rgba(128, 0, 128, 0.9);
}

.btn-lokasi {
    width: 40px;
    height: 40px;
    background-color: rgba(128, 0, 128, 0.9);
    border-radius: 10px;
    border: none;
    color: #ffffff;
    margin-left: -10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-lokasi:hover {
    background-color: #9370DB;
    border: 1px solid rgba(128, 0, 128, 0.9);
}

.btn-pesan {
    width: 220px;
    height: 40px;
    background-color: rgba(128, 0, 128, 0.9);
    border-radius: 10px;
    border: none;
    color: #ffffff;
    margin-left: -20px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-pesan:hover {
    background-color: #9370DB;
    border: 1px solid rgba(128, 0, 128, 0.9);
}